* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 2rem auto 0;
    max-width: 880px;
    padding-bottom: 4rem;
}

button {
    cursor: pointer;
    padding: 0.4rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;

    color: black;
    background: transparent;

    outline: none;
    border: 1px solid black;
    border-bottom-width: 4px;
    border-radius: 6px;

    transition-duration: .3s;

    &:hover {
        background: black;
        color: white;

        transition-duration: .3s;
    }

    &:active {
        transform: translateY(5px);
    }
}

#product-list {
    width: 100%;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
        width: 100%;

        list-style-type: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 2rem 1rem 0.25rem;

        .id {
            color: rgba(0, 0, 0, 0.5);
        }

        .title {
            font-size: 1.2em;
        }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2rem;
            flex-wrap: wrap;
            gap: 0.15rem;
            margin-top: 1rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                max-width: 75%;

                .description {
                    color: rgba(0, 0, 0, 0.75);
                }

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    .price {
                        display: inline-flex;
                        flex-direction: row;
                        align-items: flex-end;
                        gap: 0.15rem;

                        strong {
                            font-size: 1.1em;
                            font-weight: bold;
                        }
                    }

                    .rating {
                        display: inline-flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.15rem;

                        strong {
                            font-size: 1.1em;
                            font-weight: bold;
                        }
                    }
                }
            }

            img {
                aspect-ratio: 1;
                height: 8rem;
            }
        }
    }
}

.loader {
    color: black;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    top: 5rem;
    left: 50%;
    transform: translateZ(0), translateX(-50%);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}